<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo" src="/assets/icon.png" />
  <div>Welcome To Books Lists</div>
</div>

<div class="container">
  <div class="d-flex my-2 justify-content-between">
    <h2>Books Lists</h2>
    <button type="button" class="btn btn-primary align-self-center" (click)="showAddListModal(AddListModal)">
      Add List</button>
  </div>
  <div class="row">
    <ng-container *ngFor="let BooksList of BooksLists;let i = index">
      <book-list *ngIf="BooksList.List.length > 0" [books]="BooksList.List" [listIndex]="i"
        class="col-md-6 col-12 my-3">
      </book-list>
    </ng-container>
  </div>

  <footer>
    Books List {{date}}
  </footer>
</div>

<!-- Add List Modal -->
<ng-template #AddListModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add New Books List</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <form [formGroup]="ListForm">
    <div class="modal-body" formArrayName="books_list">
      <div class="row my-2" *ngFor="let bookInput of booksList.controls; let bookIndex=index"
        [formGroupName]="bookIndex">
        <div class="form-group col-md-3 my-2">
          <label [for]="'title' + bookIndex">Book Title</label>
          <input type="text" class="form-control" [id]="'title' + bookIndex" formControlName="title">
        </div>
        <div class="form-group col-md-3 my-2">
          <label [for]="'year' + bookIndex">Year</label>
          <input type="number" class="form-control" [id]="'year' + bookIndex" formControlName="year">
        </div>
        <div class="form-group col-md-3 my-2">
          <label [for]="'author' + bookIndex">Author Name</label>
          <input type="text" class="form-control" [id]="'author' + bookIndex" formControlName="author">
        </div>
        <div class="form-group col-md-3 my-2">
          <label [for]="'order' + bookIndex">Fav Order</label>
          <div class="d-flex">
            <input type="number" class="form-control" [id]="'order' + bookIndex" formControlName="order">
            <button type="button" class="btn btn-danger btn-sm mx-2 rounded"
              (click)="DeleteBookInput(bookIndex)">delete</button>
          </div>
        </div>
        <hr>
      </div>
      <button type="button" class="btn btn-outline-dark btn-sm my-3" (click)="AddBookInput()">Add another Book</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="AddList(booksList)">Save</button>
      <button type="button" class="btn btn-outline-dark" (click)="d('Close click')">Close</button>
    </div>
  </form>
</ng-template>
